<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Avaliação Formadora 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card id="container">
  <img alt="Minha Foto" src="assets/img/foto_minha.jpg"/>
    <ion-card-header>
      <ion-card-title>João Clébio Camões</ion-card-title>
      <ion-card-subtitle> <strong>22205586</strong></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Essa é a minha Avaliação Formadora da Competência 1 - Módulo de Programação Móvel.
    </ion-card-content>
</ion-card>